**
!pyproject.toml
!README.md
!LICENSE
!corecoder/
!corecoder/**
!evals/
!evals/**
!service/
!service/**
!mcp_servers/
!mcp_servers/**
!deploy/
!deploy/**
!tests/
!tests/**
**/__pycache__/**
**/*.pyc
**/.pytest_tmp/**
**/.pytest_cache/**
**/.env
